.container{
  width: 304px;
  height: 568px;
  background-color: #FFFFFF;
  border: 2px solid red;
  border-radius: 8px;
}

.imgProduto{
  position: absolute;
  width: 240px;
  height: 240px;
  left: 32px;
  top: 32px;
  background: url(../assets/monitor.png);
}


.imgProduto div:nth-child(1){
  position: absolute;
  right: 0;
  width: 48px;
  height: 48px;
  z-index: 0;
  background-repeat: no-repeat;
  background-image: url('../assets/Ellipse1.png');
}



.imgProduto div:nth-child(2){
  position: absolute;
  top: 0px;
  right: 0px;
  width: 48px;
  height: 48px;
  z-index: 1;
  background-image: url('../assets/Vector1.png');
  background-position: center;
  background-repeat: no-repeat;
}

/*Tem css para apagar analise*/

@keyframes add-favorites {
  0% {
    z-index: 0;
    background-image: url('../assets/Ellipse1.png');
  }

  25%{
    z-index: 0;
    background-image: url('../assets/Ellipse2.png');
  }

  75%{
    z-index: 0;
    background-image: url('../assets/Ellipse3.png');
  }

  100% {
    z-index: 0;
    background-image: url('../assets/Ellipse4.png');
  }
}

@keyframes add-favorites-heart {
  0% {
    z-index: 1;
    background-image: url('../assets/Vector1.png');
    background-position: center;
    background-repeat: no-repeat;
    
  }

  25%{
    z-index: 1;
    background-image: url('../assets/Vector2.png');
    background-position: center;
    background-repeat: no-repeat;
  }

  75%{
    z-index: 1;
    background-image: url('../assets/Vector3.png');
    background-position: center;
    background-repeat: no-repeat;
  }

  100% {
    z-index: 1;
    background-image: url('../assets/Vector4.png');
    background-position: center;
    background-repeat: no-repeat;
  }
}














.description{
  margin: 304px 32px 0 32px;
  color: var(--grayscale900);
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 500px;

}

.oldPrice{
  margin: 24px 32px 0 32px;
  color: var(--grayscale600);
  text-decoration-line: line-through;
  line-height: 20px;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 500px;
}

.price{
  margin: 4px 32px 0 32px;
  color: var(--red500);
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 600px;
}

.installments{
  margin: 0 32px 0 32px;
  
  display: inline;
  width: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, var(--grayscale700) 0%, var(--grayscale700) 20%, var(--grayscale900) 20%, var(--grayscale900) 72%, var(--grayscale700) 72%, var(--grayscale700) 100%);
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 500px;
}

.btnAdicionar{
  width: 240px;
  height: 48px;
  background-color: var(--green400);
  border: none;
  border-radius: 5px;
  margin: 32px 32px 0 32px;
  Padding: 2px, 24px, 12px, 24px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 500px;
  text-transform: uppercase;
  font-weight: bold;
  color: #FFFFFF;
}
.btnAdicionar:hover{
  background-color: #1C6C3E;
}



label {
  display: block;
  background: lightgrey;
  width: 100px;
  height: 100px;
}

#favCheckbox{
  
}

label{
  width: 0;
  height: 0;
  position: absolute;
}

#favCheckbox:checked + div .b{
  animation-name:  add-favorites;
  animation-duration: 1s;
  z-index: 23;
}
#favCheckbox:checked +  div .a {
  animation-name:  add-favorites-heart;
  animation-duration: 1s;
  z-index: 2;
}

