
.container{
  margin: 20px;
  width: 304px;
  height: 568px;
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0px 8px 24px 0 #00000008;
  
}

.imgProduto{
  position: relative;
}

.imgProduto img{
  width: 240px;
  height: 240px;
  margin-top: 32px;
  margin-left: 32px;
  
}


.btn_Favorite_Default{
  width: 48px;
  height: 48px;
  top: 32px;
  right: 32px;
  background: none;
  background-image: url('../assets/Ellipse1.png');
  position: absolute;
  border: none;
}

.btn_Favorite_Default div{
  width: 48px;
  height: 48px;
  top: 0;
  right: 0;
  background: none;
  background-image: url('../assets/Vector1.png');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  border: none;
}

.btn_Favorite_Default:hover{
  background-image: url('../assets/Ellipse2.png');
}

.btn_Favorite_Default div:hover{
  background-image: url('../assets/Vector2.png');
}

.btn_Favorite_Wishlist{
  width: 48px;
  height: 48px;
  top: 32px;
  right: 32px;
  background: none;
  background-image: url('../assets/Ellipse3.png');
  position: absolute;
  border: none;
}

.btn_Favorite_Wishlist div{
  width: 48px;
  height: 48px;
  top: 0;
  right: 0;
  background: none;
  background-image: url('../assets/Vector3.png');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  border: none;
}

.btn_Favorite_Wishlist:hover{
  background-image: url('../assets/Ellipse4.png');
}

.btn_Favorite_Wishlist div:hover{
  background-image: url('../assets/Vector4.png');
}


/*Tem css para apagar analise*/
/*refatorar o codigo*/




.description{
  color: var(--grayscale900);
  margin: 24px 32px 0 32px;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 500px;

}

.oldPrice{
  margin: 24px 32px 0 32px;
  color: var(--grayscale600);
  text-decoration-line: line-through;
  line-height: 20px;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 500px;
}

.price{
  margin: 4px 32px 0 32px;
  color: var(--red500);
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 600px;
}

.installments{
  margin: 0 32px 0 32px;
  
  display: inline;
  width: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, var(--grayscale700) 0%, var(--grayscale700) 20%, var(--grayscale900) 20%, var(--grayscale900) 72%, var(--grayscale700) 72%, var(--grayscale700) 100%);
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 500px;
}

.btnAdicionar{
  width: 240px;
  height: 48px;
  background-color: var(--green400);
  border: none;
  border-radius: 5px;
  margin: 32px 32px 0 32px;
  Padding: 2px, 24px, 12px, 24px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 500px;
  text-transform: uppercase;
  font-weight: bold;
  color: #FFFFFF;
}
.btnAdicionar:hover{
  background-color: #1C6C3E;
}

.btnAdicionado{
  position: relative;
  width: 240px;
  height: 48px;
  background-color: var(--green100);
  border: none;
  border-radius: 5px;
  margin: 32px 32px 0 32px;
  Padding: 2px, 24px, 12px, 24px;
}

.btnAdicionado h1{
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 500px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--grayscale900);
  margin-left: 20px;
}

.btnAdicionado div{
  position: absolute;
  height: 11px;
  width: 16px;
  left: 53.5px;
  top: 18px;
  background-image: url('../assets/btnVector.png');
  background-position: center;
  background-size: cover;
}


