.container{
    height: 80px;
    background-color: var(--grayscale0);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.popupButtonWishList, .popupButtonShoppingCart{
    margin: 16px 20px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    width: 200px;
    height: 48px;
    border: none;
    border-radius: 22px;
    color: var(--grayscale0);
}

.popupButtonWishList{
    background-color: var(--red500);
}

.popupButtonWishList:hover{
    background-color: var(--red600)
}

.popupButtonShoppingCart{
    background-color: var(--green400)
}

.popupButtonShoppingCart:hover{
    background-color: var(--green500)
    
}