body{
  padding: 0;
  margin: 0;
}

button{
  cursor: pointer;
}

:root{
  --red500: #DA4B4F;
  --green400: #40B25C;
  --grayscale600: #B5B5B6 ;
  --grayscale700: #848587;
  --grayscale900: #1C1C1C;
}

