body{
  padding: 0;
  margin: 0;
}

button{
  cursor: pointer;
}

:root{
  --red500: #DA4B4F;
  --red600:#C22539;
  --green100:#A3F9B9;
  --green400: #40B25C;
  --green500: #2c8b55;
  --green600: #1C6C3E;
  --grayscale0:#FFFFFF;
  --grayscale600: #B5B5B6 ;
  --grayscale700: #848587;
  --grayscale900: #1C1C1C;
  --grayscale950:#00000014;
  --black: #00000050;
}

.App{
  background-color: #E5E5E5;
  height: 100%;
}

.card_product{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}



